{% extends "base.html" %}
{% block title %}Meus Cronogramas{% endblock %}
{% block content %}
<div class="offset-1 col-10 list-div">
<h1>Cronogramas</h1>
<a id="add-link" href="{% url 'novocronograma' %}">
<div class="col-2 add-div"><i class="fas fa-plus"></i>Adicionar matéria</i></div></a>
<div class="col-9 search-div">
    <form method="GET" id=search-form>
    <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome do cronograma para buscar">
    <i class="fas fa-search" id="search-btn"></i></form>
</div>
<ul class="task-list">
    {% for cronograma in tasks %}
    {% if cronograma.done == 'doing' %}
       <li class="task-item">
    {% else %}
        <li class="task-item done"></li>
    {% endif %}
        <span><a href="{{cronograma.id}}">{{cronograma.title}}</a></span>
        <a href="{% url 'deletarcronograma' cronograma.id %}"><span><i class="fas fa-trash"></i></span></a>
        <a href="{% url 'editarcronograma' cronograma.id %}"><span><i class="fas fa-edit"></i></span></a> 
        <a href="{% url 'concluircronograma' cronograma.id %}"><span><i class="fas fa-check"></i></span></a>
    </li>
    
    {% endfor %}


</ul>
<div class="pagination">
    <span class="step-links">
        {% if tasks.has_previous %}
        <a href="?page={{ tasks.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
        {% endif %}
        <span class="current">
            {{ tasks.number }} de {{ tasks.paginator.num_pages }}
        </span>
        {% if tasks.has_next %}
        <a href="?page={{ tasks.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}